{% extends 'wellwash/base.html' %}

{% block body %}

{% if many %}
<br>
        <h5> შეკვეთის გასაკეთებლად აირჩიეთ ფილიალი:</h5>
    <ul>
    {% for branch in many %}
        <hr>
        <li>
            <a href="{% url 'wellwash:branch' branch.id %}">{{ branch.title }}.</a></li>
            <li>
        მისამართი: {{ branch.location_id }}</li>
        <li><a>მომსახურე პერსონალი:
    {% for washer in  branch.washers.all %} {{ washer.full_name }}, {% endfor %}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<hr>
<hr>

{% endblock body %}


