{% extends 'base.html' %}

{% block content %}
<h4 style="padding: 0 30px;"> Hello in WellWash! </h4>
<hr>
<div style="padding: 0 30px;">

  <div class="row">
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/ccc.jpg">
          <span class="card-title" style="color: Black; font-weight: bold;">Cars Page</span>
        </div>
        <div class="card-content">
          <p>Welcome. Thanks for Corporation with Us!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:car' %}">See or Add Cars!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/washer1.jpg">
          <span class="card-title" style="color: Black; font-weight: bold;">Heroes!</span>
        </div>
        <div class="card-content">
          <p>Welcome. Our heroes are waiting for you!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:washers' %}">Our heroes!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/washer.png">
          <span class="card-title" style="color: Black; font-weight: bold;">Coupons</span>
        </div>
        <div class="card-content">
          <p>Take Coupons and Make the car happy!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:coupon' %}">Buy Coupons!</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/washer4.jpg">
          <span class="card-title" style="color: Black; font-weight: bold;">Order!</span>
        </div>
        <div class="card-content">
          <p>Make Your Order and get hot coffee!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:car' %}">Make Your Order!</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}