{% extends 'base.html' %}

{% block content %}

<h4 style="padding: 0 30px;"> Welcome  in  <strong>WellWash!</strong></h4>
<hr>
<div style="padding: 0 30px;">

  <div class="row">
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/ccc.jpg" style="height: 400px;">
          <span class="card-title" style="color: Black; font-weight: bold; text-shadow: 0px 0px 5px #ffffff;">Cars!</span>
        </div>
        <div class="card-content">
          <p>Thanks for Corporation with Us!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:car' %}" style="color: rgb(200,50,50); font-weight: bold;">See or Add Cars!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/washer1.jpg" style="height: 400px;">
          <span class="card-title" style="color: Black; font-weight: bold; text-shadow: 0px 0px 5px #ffffff;">Heroes!</span>
        </div>
        <div class="card-content">
          <p>Our heroes are waiting for you!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:washer' %}" style="color: rgb(200,50,50); font-weight: bold;">Our heroes!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/washer.png" style="height: 400px;">
          <span class="card-title" style="color: Black; font-weight: bold; text-shadow: 0px 0px 5px #ffffff;">Coupons!</span>
        </div>
        <div class="card-content">
          <p>Take and Make the car happy!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:coupon' %}" style="color: rgb(200,50,50); font-weight: bold;">Buy Coupons!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="../static/wellwash/images/washer4.jpg" style="height: 400px;">
          <span class="card-title" style="color: Black; font-weight: bold; text-shadow: 0px 0px 5px #ffffff;">Order!</span>
        </div>
        <div class="card-content">
          <p>Do Order and get hot coffee!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:order' %}" style="color: rgb(200,50,50); font-weight: bold;">Make Your Order!</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}