<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
</head>
<body>

<p>Hello, this is our locations list. choose one for You:</p>
{% if cont %}
    <ul>
        {% for loc in cont %}
        <li>
            <a href="/wellwash/locations/{{loc.id}}/boxes/">
            {{ loc.title }}  -  {{ loc.location.city }}. {{loc.location.street_address}}
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Cars are available.</p>
{% endif %}


</body>
</html>