<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branches</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wellwash/style.css' %}">
</head>
<body>


<h3>Hello Branch {{ washobject }} !</h3>
<p>{{ washobject.location }}</p>

<hr>
{{ washobject.show_washers.all }}<br>
<ul>
{% for bb in washobject.show_washers.all %}
    <li>{{ bb }}</li>
{% endfor %}
</ul>
<hr>
{{ washobject.sow_boxes.all }}<br>
<ul>
{% for box in washobject.show_boxes.all %}
<li><a>{{ box.box_code }}</a></li><br>
{% endfor %}
</ul>
<hr>
{{ washobject }}

</body>
</html>