{% extends 'base.html' %}


{% block content %}
<div class="container">


<!-- აქედან იწყება მრეცხაბების სია სურათებით. -->
{% for washer in washers %}
{% if forloop.counter0|divisibleby:4 %}

<div class="row">
{% endif %}

<div class="col s12 m3 l3">
  <div class="row">

    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="{{ washer.image.url }}">
          <span class="card-title">{{ washer.get_full_name}}</span>
        </div>
        <div class="card-content">
          <p>I am washed {{ washer.washed_count }} car!</p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:washer_detail' washer.pk %}">Detail-Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if forloop.counter|divisibleby:4 or forloop.last %}
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
