  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'admin:index' %}" class="brand-logo right">Admin</a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'wellwash:index' %}">Welcome</a></li>
        <li><a href="{% url 'wellwash:washers' %}">Washers</a></li>
        <li><a href="{% url 'wellwash:index' %}">Coupons</a></li>
        <li><a href="{% url 'wellwash:index' %}">Orders</a></li>
        <li><a href="{% url 'wellwash:contact' %}">Contact</a></li>
      </ul>
    </div>
  </nav>
